.app-header {
  font-size: 288px;
  color: #fff;
  font-weight: 500;
  font-family: Futura;
  letter-spacing: -16px;
  margin-top: -148px;
  height: 278px;
  display: inline-block;
  max-width: 900px;
  overflow: hidden;
  margin-bottom: -5px;
}
