body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  background-color: #000;
}

.menu {
  float: right;
}

.landing-container {
  max-width: 990px;
  filter: none;
  transition: 0.5s ease;
}

.landing-container.blur {
  filter: blur(10px);
  transition: 0.5s ease;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

a.header-link {
  font-weight: 500;
  font-family: Futura;
  color: #fff !important;
  font-size: 14px;
  cursor: pointer;
}

a.header-link:hover {
  text-decoration: underline !important;
}

ul.reset {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}
